form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  top: 0;
  right: 0;
  margin: auto;
  margin-top: 20vh;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  margin-bottom: 20px;
}
